html.litera {
    --primary: #4582ec;
    --secondary: #adb5bd;
    --success: #02b875;
    --info: #17a2b8;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --light: #f8f9fa;
    --dark: #343a40;
    --bg: #ffffff;
    --fg: #343a40;
    --selectbg: #adb5bd;
    --selectfg: #ffffff;
    --border: #bfbfbf;
    --inputfg: #343a40;
    --inputbg: #ffffff;
}